﻿<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="text-center">
                <p role="alert">
                    The requested resource was not found
                    <NavLink class="nav-link" href="/">Go back home</NavLink>
                </p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
