@using Core.Model.Read
@using ViewModel
<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    public IDictionary<string, UserReadModel>? Users { get; private set; }

    public void SetUsers(IEnumerable<IUser> users)
    {
        Users = users.ToDictionary(user => user.Id, user => new UserReadModel(user));
        StateHasChanged();
    }
    public void SetUser(UserReadModel user)
    {
        if (Users == null)
        {
            Users = new Dictionary<string, UserReadModel>
            {
                { user.Id, user },
            };
        }
        else
        {
            Users[user.Id] = user;
        }
        StateHasChanged();
    }
    public void DeleteUser(string id)
    {
        if (Users == null) return;
        Users.Remove(id);
        StateHasChanged();
    }
}