@using ViewModel
@using Core.Exceptions
@inherits CancellableComponent

@if (model != null) {
    <div class="alert alert-danger" role="alert" @onclick=Dismiss>
        <h4 class="alert-heading">@model.Exception.Message</h4>
        <p class="mb-0">@model.Prompt</p>
    </div>
}
<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

@code {
    private ErrorPromptModel? model;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public async Task Accept(ErrorPromptModel model)
    {
        if (this.model != null)
        {
            Cancel();
        }
        this.model = model;
        StateHasChanged();
        try
        {
            await Task.Delay(5000, CancellationToken);
            Dismiss();
            StateHasChanged();
        }
        catch (OperationCanceledException)
        {
        }
    }

    private void Dismiss()
    {
        if (this.model != null)
        {
            this.model.OnDismiss?.Invoke();
            this.model = null;
        }
    }
}