﻿@inherits LayoutComponentBase

<PageTitle>Users</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            <AppState>
                <ErrorPrompt>
                    @Body
                </ErrorPrompt>
            </AppState>
        </article>
    </main>
</div>
