@using Blazored.FluentValidation
@using Core.Exceptions
@using Data
@using Core.Commands
@using Core.Model
@using ViewModel
@using Events
@implements IDisposable
@inherits CancellableComponent
@inject UserService UserService

<EditForm Model=User OnValidSubmit=HandleValidSubmit>
    <FluentValidationValidator/>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <InputText @bind-Value=User.FirstName class="form-control" id="firstName" placeholder="First Name" />
            <ValidationMessage For="() => User.FirstName" />
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <InputText @bind-Value=User.LastName class="form-control" id="lastName" placeholder="Last Name" />
            <ValidationMessage For="() => User.LastName" />
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" @bind=User.PhoneNumber class="form-control" id="phone" placeholder="1231231234" />
            <ValidationMessage For="() => User.PhoneNumber" />
        </div>
        <div class="mb-3 col-md-4">
            <label for="dob" class="form-label">Date of Birth</label>
            <InputDate @bind-Value=User.DateOfBirth class="form-control" id="dob" placeholder="01/01/2000" />
            <ValidationMessage For="() => User.DateOfBirth" />
        </div>
    </div>
    <div class="row">
        <div class="col form-check mb-3">
            <InputCheckbox @bind-Value=User.HasAddress class="form-check-input" id="hasAddress" />
            <label class="form-check-label" for="hasAddress">Has Address?</label>
            <ValidationMessage For="() => User.HasAddress" />
        </div>
    </div>
    @if (User.HasAddress) {
        <div class="row">
            <div class="col mb-3">
                <label for="address1" class="form-label">Address Line 1</label>
                <InputText @bind-Value=User.AddressLine1 class="form-control" id="address1" placeholder="123 Maple St." />
                <ValidationMessage For="() => User.AddressLine1" />
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="address2" class="form-label">Address Line 2</label>
                <InputText @bind-Value=User.AddressLine2 class="form-control" id="address2" placeholder="Apartment, studio, floor, etc."  />
                <ValidationMessage For="() => User.AddressLine2" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="city" class="form-label">City</label>
                <InputText @bind-Value=User.City class="form-control" id="city" placeholder="City" />
                <ValidationMessage For="() => User.City" />
            </div>
            <div class="col-md-4 mb-3">
                <label for="regionCode" class="form-label">Region Code</label>
                <InputText @bind-Value=User.RegionCode class="form-control" id="regionCode" placeholder="Region Code" />
                <ValidationMessage For="() => User.RegionCode" />
            </div>
            <div class="col-md-4 mb-3">
                <label for="zipCode" class="form-label">Zip Code</label>
                <InputText @bind-Value=User.ZipCode class="form-control" id="zipCode" placeholder="Zip Code" />
                <ValidationMessage For="() => User.ZipCode" />
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="countryCode" class="form-label">Country Code</label>
                <InputText @bind-Value=User.CountryCode class="form-control" id="countryCode" placeholder="Country Code" />
                <ValidationMessage For="() => User.CountryCode" />
            </div>
        </div>
    }
    <div class="btn-toolbar justify-content-between pl-3 pr-3 mt-3" role="toolbar">
        <div class="btn-group" role="group">
            @if (!isDeleting) {
                @if (isSaving) {
                    <button type="button" disabled class="btn btn-success">
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                } else {
                    <button type="submit" class="btn btn-success">Save</button>
                }
            }
            <button type="button" class="btn btn-secondary" @onclick=HandleCancel>Cancel</button>
        </div>
        @if (!isSaving && !User.IsCreating()) {
            @if (isDeleting) {
                <button type="button" disabled class="btn btn-danger">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            } else {
                <button type="button" class="btn btn-danger" @onclick=HandleDelete>Delete</button>
            }
        }
    </div>
</EditForm>

@code {
    private bool isSaving;
    private bool isDeleting;

    [CascadingParameter] public AppState? AppState { get; set; }
    [Parameter] public UserFormModel User { get; set; }
    [Parameter] public EventCallback<string> OnCancelled { get; set; }
    [Parameter] public EventCallback OnDeleted { get; set; }
    [Parameter] public EventCallback<string> OnCreated { get; set; }
    [Parameter] public EventCallback<NotFoundEvent> OnNotFound { get; set; }

    public UserForm()
    {
        User = new();
    }

    private async void HandleValidSubmit()
    {
        isSaving = true;
        Address? address = !User.HasAddress ? null : new Address(
            addressLine1: User.AddressLine1!,
            addressLine2: User.AddressLine2,
            city: User.City!,
            regionCode: User.RegionCode!,
            countryCode: User.CountryCode!,
            zipCode: User.ZipCode!);
        if (User.IsCreating())
        {
            var command = new CreateUserCommand(
                firstName: User.FirstName!,
                lastName: User.LastName!,
                address: address,
                phoneNumber: User.PhoneNumber,
                dateOfBirth: User.DateOfBirth);
            try
            {
                var response = await UserService.CreateUserAsync(command, CancellationToken);
                isSaving = false;
                User.Id = response.CreatedUserId;
                var readModel = new UserReadModel(
                    id: response.CreatedUserId,
                    firstName: User.FirstName!,
                    lastName: User.LastName!,
                    address: address,
                    phoneNumber: User.PhoneNumber,
                    dateOfBirth: User.DateOfBirth);
                AppState?.SetUser(readModel);
                await OnCreated.InvokeAsync(response.CreatedUserId);
            }
            catch (OperationCanceledException)
            {
            }
        }
        else
        {
            var command = new UpdateUserCommand(
                id: User.Id!,
                firstName: User.FirstName!,
                lastName: User.LastName!,
                address: address,
                phoneNumber: User.PhoneNumber,
                dateOfBirth: User.DateOfBirth);
            try
            {
                await UserService.UpdateUserAsync(command, CancellationToken);
                isSaving = false;
                var readModel = new UserReadModel(
                    id: User.Id!,
                    firstName: User.FirstName!,
                    lastName: User.LastName!,
                    address: address,
                    phoneNumber: User.PhoneNumber,
                    dateOfBirth: User.DateOfBirth);
                AppState?.SetUser(readModel);
            }
            catch (NotFoundException ex)
            {
                var @event = new NotFoundEvent(
                    id: User.Id!,
                    exception: ex);
                await OnNotFound.InvokeAsync(@event);
            }
            catch (OperationCanceledException)
            {
            }
        }
    }

    private async void HandleCancel()
    {
        if (isSaving)
        {
            Cancel();
            isSaving = false;
        }
        else if (isDeleting)
        {
            Cancel();
            isDeleting = false;
        }
        else
        {
            await OnCancelled.InvokeAsync(User.Id!);
        }
    }

    private async void HandleDelete()
    {
        isDeleting = true;
        var command = new DeleteUserCommand(id: User.Id!);
        try
        {
            await UserService.DeleteUserAsync(command, CancellationToken);
            isDeleting = false;
            AppState?.DeleteUser(User.Id!);
            await OnDeleted.InvokeAsync();
        }
        catch (OperationCanceledException)
        {
        }
    }
}