@page "/user"
@inherits CancellableComponent
@using Data
@inject UserService UserService
@inject NavigationManager NavManager

<PageTitle>New User</PageTitle>

<div class="container">
    <h1>New User</h1>
    <UserForm OnCancelled=HandleCancelled OnCreated=HandleCreated />
</div>

@code {
    private void HandleCancelled()
    {
        NavManager.NavigateTo("/");
    }
    private void HandleCreated(string userId)
    {
        NavManager.NavigateTo($"/user/{userId}");
    }
}