﻿@page "/"
@inherits CancellableComponent
@using Core.Commands
@using Data
@using ViewModel
@using Events
@inject UserService UserService

<div class="row container">
    <h1>Users</h1>
    @if (isLoading) {
        <div class="spinner-border ml-3 mt-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Date of Birth (Age)</th>
        </tr>
    </thead>
    <tbody>
        @if (Users == null) {
            <tr>
                <td colspan="4" class="text-center"><h4>Loading...</h4></td>
            </tr>
        } else {
            @foreach (var user in Users) {
                <tr>
                    <td>
                        <button role="button" class="btn btn-primary" @onclick="args=>ToggleUserOpen(args, user.Id)">@user.LastName, @user.FirstName</button>
                        <NavLink class="nav-link d-inline-block" href=@($"user/{user.Id}")><span class="oi oi-external-link"></span></NavLink>
                    </td>
                    <td>
                        @if (!user.Address.HasValue) {
                            <span>N/A</span>
                        } else {
                            <div class="row"><div class="col">@user.Address.Value.AddressLine1</div></div>
                            @if (user.Address.Value.AddressLine2 != null) {
                                <div class="row"><div class="col">@user.Address.Value.AddressLine2</div></div>
                            }
                            <div class="row"><div class="col">@user.Address.Value.City, @user.Address.Value.RegionCode, @user.Address.Value.CountryCode @user.Address.Value.ZipCode</div></div>
                        }
                    </td>
                    <td>@(user.PhoneNumber ?? "N/A")</td>
                    <td>@(user.DateOfBirth.HasValue ? $"{user.DateOfBirth} ({user.Age})" : "N/A")</td>
                </tr>
                @if (openUserId == user.Id) {
                    <tr>
                        <td colspan="4" class="bg-light">
                            <UserForm User=@(new UserFormModel(user)) OnCancelled="HandleFormCancelled" OnNotFound=HandleUserNotFound />
                        </td>
                    </tr>
                }
            }
            @if (openUserId == "new") {
                <tr>
                    <td colspan="4" class="bg-light">
                        <UserForm OnCancelled="HandleFormCancelled" OnCreated=HandleUserCreated />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (openUserId != "new" && Users != null) {
    <button class="btn btn-success" type="button" @onclick=HandleNew>New</button>
    <NavLink class="nav-link d-inline-block" href="user"><span class="oi oi-external-link text-success"></span></NavLink>
}

@code {
    [CascadingParameter] public AppState? AppState { get; set; }
    [CascadingParameter] public ErrorPrompt? ErrorPrompt { get; set; }
    private IEnumerable<UserReadModel>? Users => AppState?.Users?.Values;
    private string? openUserId;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        var command = new GetUsersCommand();
        isLoading = true;
        var response = await UserService.GetUsersAsync(command, CancellationToken);
        isLoading = false;
        AppState!.SetUsers(response.Users);
    }

    private void HandleFormCancelled(string userId)
    {
        ToggleUserOpen(userId);
    }
    private void ToggleUserOpen(MouseEventArgs e, string userId)
    {
        ToggleUserOpen(userId);
    }
    private void ToggleUserOpen(string userId)
    {
        if (userId == openUserId)
        {
            openUserId = null;
        }
        else
        {
            openUserId = userId;
        }
    }
    private void HandleNew()
    {
        openUserId = "new";
    }
    private void HandleUserCreated(string createdUserId)
    {
        openUserId = createdUserId;
    }
    private async void HandleUserNotFound(NotFoundEvent @event)
    {
        var model = new ErrorPromptModel(
            exception: @event.Exception,
            prompt: "This was likely caused by another person deleting the user. User will now be removed from view.",
            onDismiss: () => AppState?.DeleteUser(id: @event.Id));
        if (ErrorPrompt != null)
        {
            await ErrorPrompt.Accept(model);
        }
    }
}