@page "/user/{UserId}"
@inherits CancellableComponent
@using Core.Commands
@using Data
@using ViewModel
@using Events
@inject UserService UserService
@inject NavigationManager NavManager

<PageTitle>@(_User == null ? "User" : $"{_User.LastName}, {_User.FirstName}")</PageTitle>

@if (_User == null) {
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
} else {
    <div class="container">
        <div class="row">
            <h1>@_User.LastName, @_User.FirstName</h1>
            @if (isLoading) {
                <div class="spinner-border ml-3 mt-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            }
        </div>
        <UserForm User=@(new UserFormModel(_User)) OnCancelled=HandleCancelled OnDeleted=HandleDeleted OnNotFound=HandleUserNotFound />
    </div>
}

@code {
    [CascadingParameter] public AppState? AppState { get; set; }
    [CascadingParameter] public ErrorPrompt? ErrorPrompt { get; set; }
    [Parameter] public string? UserId { get; set; }
    private bool isLoading;

    private UserReadModel? _User
    {
        get
        {
            if (UserId == null || AppState?.Users == null) return null;
            AppState.Users.TryGetValue(UserId, out UserReadModel? user);
            return user;
        }
    } 

    protected override async Task OnInitializedAsync()
    {
        var command = new GetUserCommand(id: UserId!);
        isLoading = true;
        var response = await UserService.GetUserAsync(command, CancellationToken);
        isLoading = false;
        if (response.User != null)
        {
            var user = new UserReadModel(response.User);
            AppState?.SetUser(user);
        }
        else
        {
            NavManager.NavigateTo("/notfound");
        }
    }

    private void HandleCancelled()
    {
        NavManager.NavigateTo("/");
    }
    private void HandleDeleted()
    {
        NavManager.NavigateTo("/");
    }
    private async void HandleUserNotFound(NotFoundEvent @event)
    {
        var model = new ErrorPromptModel(
            exception: @event.Exception,
            prompt: "This was likely caused by another person deleting the user. Re-routing to home.",
            onDismiss: () => {
                AppState?.DeleteUser(@event.Id);
                NavManager.NavigateTo("/");
            });
        if (ErrorPrompt != null)
        {
            await ErrorPrompt.Accept(model);
        }
    }
}